
:root {
    --primary-blue: #006eed;
    --secondary-blue: #66adff;

    --primary-green: #2ea44f;
    --secondary-green: #1d813a;

    --primary-orange: #f9826c;

    --primary-dark: #24292e;
    --secondary-dark: #424d57;


    --primary-light: #fff;
    --secondary-light: #f6f8fa;

    --light-trans: rgba(255, 255, 255, 0.48);


    --primary-border-dark: rgba(36, 41, 46, 0.16);


    --defVal: .5rem;

    --md: 768px;
    --lg: 1024px;
    --xl: 1280px;

}


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    color: var(--primary-dark);
    transition: all 0.12s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

main {
    min-height: 100vh;
}

ul {
    list-style: none;
}

button{
    cursor: pointer;
}

a{
    text-decoration: none;
    /* color: var(--primary-blue); */
}

a:hover{
    color: var(--primary-blue)!important;
    text-decoration: underline;
}

h1,h2,h3,h4{
    margin-bottom: .25rem;
    font-weight: 600;
}

p, span, li, a{
    font-size: .95rem;
    color: inherit;
}


.wrapper{
    width: 100%;
    margin: auto;
}

.btn{
    padding: .5rem 1rem;
    background: var(--secondary-light);
    border-radius: var(--defVal);
    border: 1px solid var(--primary-border-dark);
}

.btn:hover{
    background: var(--primary-border-dark);
}

.btn:active, .btn:focus{
    /* border-color: var(--secondary-blue); */
    /* background: var(--primary-border-dark); */
    box-shadow: 0 0 2px 4px var(--primary-border-dark);
}

.txt-bold{
    font-weight: 600;
}

.show-md{
    display: none;
}

@media  screen and (min-width:768px) {
    .show-md{
        display: block;
    }
}

.loader{
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
}

[data-content="undefined"], [data-content="null"], [data-content="0"]{
    display: none;
}

.icon{
    vertical-align: middle;
    margin: 0 .1rem;
}

.icon path{
    fill: var(--primary-dark);
}

.icon--white path{
    fill: var(--primary-light);
}

.dropdown-caret{
    display: inline-block;
    width: 0px;
    height: 0px;
    vertical-align: middle;
    content: "";
    border-top-style: solid;
    border-top-width: 4px;
    border-color: var(--primary-light);
    border-right: 4px solid transparent;
    border-bottom: 0px solid transparent;
    border-left: 4px solid transparent;
}


.notif-indicator{
    position: relative;
    color: var(--primary-light);
}

.notif-indicator::before{
    content: "";
    position: absolute;
    top: -6px;
    left: 6px;
    z-index: 2;
    width: 10px;
    height: 10px;
    background-image: linear-gradient(rgb(84, 163, 255), rgb(0, 110, 237));
    background-clip: padding-box;
    border: 2px solid var(--primary-dark);
    border-radius: 50%;
}

.img-cont{
    position: relative;
}

.img-cont img{
    width: 100%;
    object-fit: cover;
}


/* MAIN PAGE */
.form-container{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form-header{
    margin-bottom: 1rem;
}

.form-header h1{
    font-weight: normal;
}

.form{
    margin: 0 auto;
    min-width: 300px;
    min-height: 100px;
    background: var(--secondary-light);
    border: 1px solid var(--primary-border-dark);
    border-radius: .5rem;
    padding: 1.25rem;

    /* box-shadow: ; */
}

.form .input-cont{
    flex-direction: column;
    margin-bottom: 1rem;
}

.form .btn[type="submit"]{
    background: var(--primary-green);
    color: var(--primary-light);
    width: 100%;
}

.form .btn[type="submit"]:hover, .form .btn[type="submit"]:focus{
    background: var(--secondary-green);
}


/* PROFILE PAGE */
.site-header{
    width: 100%;
    background: var(--primary-dark);
    color: var(--primary-light);
    position: relative;
}

.site-header .wrapper{
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.site-header .sub-wrapper{
    display: flex;
}

.site-logo{
    /* margin-right: 1rem; */
    display: flex;
    align-items: center;
}

.site-logo svg path{
    fill: var(--primary-light)!important;
}

.site-nav{
    display: none;
}

.site-nav .links{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

.links .link{
    color: var(--primary-light);
    font-weight: 600;
}

.links .link a:hover{
    text-decoration: none;
    color: var(--secondary-dark)!important;
}


.nav-btn{
    width: 20px;
    height: 30px;
    background: transparent;
    padding: 0;
    position: relative;
}


.options{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.option{
    display: flex;
    align-items: center;
    gap: .45rem;
    cursor: pointer;
}

.options .user .img-cont{
    width: 20px;
    height: 20px;
    overflow: hidden;
    background: var(--primary-light);
    border-radius: 20px;
}

@media screen and (max-width: 768px){
    .site-nav.active{
        display: flex;
        flex-direction: column;
        background: var(--primary-dark);
        width: 100%;
        position: absolute;
        top: 100%;
        left: 0;
        padding: 2rem;
        z-index: 8;
        transform: translateY(-1px);
    }
    
    .site-nav.active .links{
        flex-direction: column;
        margin-top: 1rem;
        justify-content: flex-start;
        gap: 0;
    }
    
    .site-nav.active .links .link{
        text-align: left;
        width: 100%;
        padding: .5rem 0;
        border-top: 1px solid var(--secondary-dark);
    }
    
    .site-nav.active .links .link:nth-last-of-type(1){
        border-bottom: 1px solid var(--secondary-dark);
    }
    
    .options > *{
        display: none;
    }

    .options :nth-child(1){
        display: flex;
    }
}

@media screen and (min-width: 768px){
    .site-header .wrapper{
        justify-content: unset;
        padding: 1rem 2rem;
    }

    .site-nav{
        display: flex;
        flex-grow: 1;
        gap: 1rem;
    }

    .nav-btn{
        display: none;
    }
}





.header {
    width: 100%;
    border-bottom: 1px solid var(--primary-border-dark);
    background-color: var(--light-trans);
    backdrop-filter: blur(12px);

    position: sticky;
    top: 0;
    z-index: 2;
}

.header .wrapper, .container .wrapper{
    padding: 0 1rem;
    max-width: var(--xl);
}

.header .wrapper{
    padding-bottom: 0;
}

.header-group{
    grid-column-start: 2;
    padding: calc(var(--defVal) * 2);

    padding-bottom: 0;
}

.user-form {
    padding: calc(var(--defVal) * 2) 0;
}

.input-cont {
    display: flex;
    gap: .5em;
}

.input-cont input {
    width: 100%;
    padding: .5rem .8rem;
    border-radius: var(--defVal);
    border: 1px solid var(--primary-border-dark);
    outline: none;
}

.input-cont input:focus {
    border-color: var(--primary-blue);
    box-shadow: 0 0 1px 4px var(--secondary-blue);
}

.input-cont.dark input, .input-cont.dark .btn{
    background: var(--primary-dark);
    border-color: var(--secondary-dark); 
    color: var(--primary-light);
}

.input-cont.dark input::placeholder{
    color: var(--primary-light); 
}

label.input-cont.dark{
    padding: .35rem .4rem;
    border-radius: var(--defVal);
    border-color: var(--secondary-dark);
    border: 1px solid var(--secondary-dark);
}

/* label.input-cont.dark:hover, label.input-cont.dark:focus{
    border-width: 2px;
} */

label.input-cont.dark input{
    padding: 0;
    border-color: transparent;
}

label.input-cont.dark input:hover, label.input-cont.dark input:focus{
    box-shadow: none;
}

label.input-cont.dark .btn{
    padding: .15rem .5rem;
    border-radius: .25rem;
    /* border-color: transparent; */
}

.tab-group{
    white-space: nowrap;
    width: 100%;
    overflow: auto;
}

.tab-group .tab{
    display: inline-block;
    padding: .8rem 1rem;

    cursor: pointer;
}

.tab-group .tab:hover{
    border-bottom: 2px solid var(--primary-border-dark);
}

.tab-group .tab.active{
    font-weight: 600;
    border-bottom: 2px solid var(--primary-orange);
}


.tab .span{
    vertical-align: middle;
}

.tab .tag{
    padding: .1rem .5rem;
    background: var(--primary-border-dark);
    border-radius: 1rem;
    /* vertical-align: middle; */
    margin-left: .2rem;
}

@media screen and (min-width: 768px) {
    .header .wrapper{
        display: grid;
        grid-template-columns: 1fr 3fr;
        gap: calc(var(--defVal) * 3);
    }
}


.container {}

.profile-container, .repos-container {
    padding: calc(var(--defVal) * 2);
    position: relative;
}

.profile-container h1{
    font-size: 1.65rem;
}

.profile-container p{
    font-size: 1rem;
}

.profile {
    margin-bottom: var(--defVal);
    width: 100%;
    display: flex;
    align-items: center;
    column-gap: 1.5rem;
}

.profile-img {
    margin-bottom: var(--defVal);
    width: 20%;
    z-index: 3;
}

.profile-img img{
    border-radius: 300px;
    overflow: hidden;
    object-fit: cover;
    width: 100%;
    height: auto;
}

.profile .profile-name, .profile .profile-username{
    font-size: 1.65rem;
}

.profile .profile-username{
    opacity: .8;
    font-weight: 1.25rem;
}

.details{
    display: flex;
    flex-direction: column;
    gap: .65em;
}

.details p{
}

.others, .stats{
    display: flex;
    flex-direction: column;
    gap: .35em;
}

.others{
    order: 0;
}

.others .other{
    white-space: nowrap;
}

.stats{
    flex-direction: row;
    /* justify-content: space-between; */
    flex-wrap: wrap;
}

.stats .stat{
    /* margin-right: .65em; */
    color: var(--secondary-dark);
    white-space: nowrap;
}

.stats .stat > span{
    color: var(--primary-dark);
}

@media screen and (min-width: 768px) {
    .container .wrapper{
        display: grid;
        grid-template-columns: 1fr 3fr;
        gap: calc(var(--defVal) * 3);
    }

    .profile-container{
        margin-top: -2.5rem;
    }

    .profile{
        flex-direction: column;
        align-items: flex-start;
    }

    .profile-img{
        width: 100%;
    }

    .others{
        order: 1;
    }
}




/* REPO COMPONENTS */
.repos-container{

}

.repo{
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 0;
    border-bottom: 1px solid var(--primary-border-dark);
}

.repo__header{
    width: 75%;
}

.repo__name{
    color: var(--primary-blue);
    /* font-size: larger; */
}

.repo__description{

}

.repo__stats{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    margin-top: 1rem;
    color: var(--secondary-dark);
}

.repo__stats > span{
    white-space: nowrap;
}

.repo__stats .last-update{
    white-space: normal;
}


.repo__stats .language{
    position: relative;
}

.language .color{
    width: 10px;
    height: 10px;
    border-radius: 10px;
    background-color: var(--primary-orange);

    display: inline-block;
    margin-right: .25rem;
}

.notif-bubble{
    position: fixed;
    min-width: 200px;
    min-height: 40px;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--primary-orange);
    border-radius: .5rem;
    z-index: 4;

    top: 0;
    left: 50%;
    transform: translate(-50%, -100%);
}

.notif-bubble.active{
    transform: translate(-50%, calc(100% + 1rem));
}

.err{
    background: var(--primary-orange);
}

.success{
    background: var(--primary-green);
    color: var(--primary-light)!important;
}
