
:root {
    --primary-blue: #006eed;
    --secondary-blue: #66adff;

    --primary-green: #2ea44f;

    --primary-orange: #f9826c;

    --primary-dark: #24292e;
    --secondary-dark: #424d57;


    --primary-light: #fff;
    --secondary-light: #f2f5f8;

    --light-trans: rgba(255, 255, 255, 0.48);


    --primary-border-dark: rgba(36, 41, 46, 0.16);


    --defVal: .5rem;

    --md: 768px;
    --lg: 1024px;
    --xl: 1280px;

}


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    color: var(--primary-dark);
}

main {
    min-height: 100vh;
}

ul {
    list-style: none;
}

button{
    cursor: pointer;
}

a{
    text-decoration: none;
    /* color: var(--primary-blue); */
}

a:hover{
    color: var(--primary-blue)!important;
    text-decoration: underline;
}

h1,h2,h3,h4{
    margin-bottom: .25rem;
    font-weight: 600;
}

p, span, li, a{
    font-size: .95rem;
    color: inherit;
}

.wrapper{
    width: 100%;
    margin: auto;
}

.btn{
    padding: .5rem 1rem;
    background: var(--secondary-light);
    border-radius: var(--defVal);
    border: 1px solid var(--primary-border-dark);
}

.btn:hover{
    background: var(--primary-border-dark);
}

.btn:active, .btn:focus{
    /* border-color: var(--secondary-blue); */
    /* background: var(--primary-border-dark); */
    box-shadow: 0 0 2px 4px var(--primary-border-dark);
}

.txt-bold{
    font-weight: 600;
}

.show-md{
    display: none;
}

@media  screen and (min-width:768px) {
    .show-md{
        display: block;
    }
}

.loader{
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
}

[data-content="undefined"], [data-content="null"]{
    display: none;
}


.header {
    width: 100%;
    border-bottom: 1px solid var(--primary-border-dark);
    background-color: var(--light-trans);
    backdrop-filter: blur(12px);

    position: sticky;
    top: 0;
    z-index: 2;
}

.header .wrapper, .container .wrapper{
    padding: 0 1rem;
    max-width: var(--xl);
}

.header .wrapper{
    padding-bottom: 0;
}

.header-group{
    grid-column-start: 2;
    padding: calc(var(--defVal) * 2);

    padding-bottom: 0;
}

.user-form {
    padding: calc(var(--defVal) * 2) 0;
}

.input-cont {
    display: flex;
    gap: 1em;
}

.input-cont input {
    width: 100%;
    padding: .45rem .8rem;
    border: solid 1px var(--primary-border-dark);
    border-radius: var(--defVal);
    outline: none;
}

.input-cont input:focus {
    border-color: var(--primary-blue);
    box-shadow: 0 0 1px 4px var(--secondary-blue);
}

.tab-group{
    white-space: nowrap;
    width: 100%;
    overflow: auto;
}

.tab-group .tab{
    display: inline-block;
    padding: .8rem 1rem;

    cursor: pointer;
}

.tab-group .tab:hover{
    border-bottom: 2px solid var(--primary-border-dark);
}

.tab-group .tab.active{
    font-weight: 600;
    border-bottom: 2px solid var(--primary-orange);
}


.tab .span{
    vertical-align: middle;
}

.tab .tag{
    padding: .1rem .5rem;
    background: var(--primary-border-dark);
    border-radius: 1rem;
    /* vertical-align: middle; */
    margin-left: .2rem;
}

@media screen and (min-width: 768px) {
    .header .wrapper{
        display: grid;
        grid-template-columns: 1fr 3fr;
        gap: calc(var(--defVal) * 3);
    }
}


.container {}

.profile-container, .repos-container {
    padding: calc(var(--defVal) * 2);
    position: relative;
}

.profile-container h1{
    font-size: 1.65rem;
}

.profile-container p{
    font-size: 1rem;
}

.profile {
    margin-bottom: var(--defVal);
    width: 100%;
    display: flex;
    align-items: center;
    column-gap: 1.5rem;
}

.profile-img {
    margin-bottom: var(--defVal);
    width: 20%;
    z-index: 3;
}

.profile-img img{
    border-radius: 300px;
    overflow: hidden;
    object-fit: cover;
    width: 100%;
    height: auto;
}

.profile .profile-name, .profile .profile-username{
    font-size: 1.65rem;
}

.profile .profile-username{
    opacity: .8;
    font-weight: 1.25rem;
}

.details{
    display: flex;
    flex-direction: column;
    gap: .65em;
}

.details p{
}

.others, .stats{
    display: flex;
    flex-direction: column;
    gap: .35em;
}

.others{
    order: 0;
}

.stats{
    flex-direction: row;
    /* justify-content: space-between; */
    flex-wrap: wrap;
}

.stats .stat{
    /* margin-right: .65em; */
    color: var(--secondary-dark);
}

.stats .stat > span{
    color: var(--primary-dark);
}

@media screen and (min-width: 768px) {
    .container .wrapper{
        display: grid;
        grid-template-columns: 1fr 3fr;
        gap: calc(var(--defVal) * 3);
    }

    .profile-container{
        margin-top: -2.5rem;
    }

    .profile{
        flex-direction: column;
        align-items: flex-start;
    }

    .profile-img{
        width: 100%;
    }

    .others{
        order: 1;
    }
}




/* REPO COMPONENTS */
.repos-container{

}

.repo{
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 0;
    border-bottom: 1px solid var(--primary-border-dark);
}

.repo__header{
    width: 75%;
}

.repo__name{
    color: var(--primary-blue);
    /* font-size: larger; */
}

.repo__description{

}

.repo__stats{
    display: flex;
    gap: 1.5rem;
    margin-top: 1rem;
    color: var(--secondary-dark);
}


.repo__stats .language{
    position: relative;
}

.language .color{
    width: 10px;
    height: 10px;
    border-radius: 10px;
    background-color: var(--primary-orange);

    display: inline-block;
    margin-right: .25rem;
}